<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{ title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" routerLink="/directivas">Directivas</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link active" routerLink="/clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" *ngIf="!loginService.estaAutenticado()">Iniciar sesión</a>

                </li>
                <div *ngIf="loginService.estaAutenticado()" class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{loginService.usuario.username}}</li>
                    </ul>
                </div>
                <li class="nav-item" *ngIf="loginService.estaAutenticado()">
                    <button (click)="logout()" class="btn btn-rounded btn-primary" type="submit">Cerrar sesión</button>

                </li>



            </ul>

        </div>
    </div>
</nav>